@font-face{
    font-family: "Houschka Pro Bold";
    src: url("../fonts/HouschkaPro-Bold.otf");
}
@font-face{
    font-family: "Houschka Pro Medium";
    src: url("../fonts/HouschkaPro-Medium.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@-webkit-keyframes ship {
  100% {
    -webkit-transform: translateY(-3px) translateX(-4px);    
  }
}
@keyframes ship {
  100% {
    transform: translateY(-3px) translateX(-4px);    
  }
}
html{
    background-color: aliceblue;
}
body{
    margin: 0 auto;
    width: 980px;
    height: 800px;
    background-color: rgba(166, 207, 240, 0.842);
    position: relative;
}
.cloud{
    position: relative;
    display: inline-block; 
}
.cloud1{
    position: relative;
    margin-left: 131px;
    margin-top: -60px;
}
.cloud2{
    position: absolute;
    margin-left: 512px;
    margin-top: -237px;    
}
.cs{
    width: fit-content;
    margin: 35px auto;
    text-shadow: 2px 3.5px 0 rgba(0, 0, 0, 0.17);
    color: #fefefe;
    font-family: "Houschka Pro Bold";
    font-size: 4.45rem;
    padding-left: 25px;
    letter-spacing: 0.5px;
}
.nu{
    position: absolute;
    width: fit-content;
    margin: -30.5px auto;
    padding-left: 346px;
    color: #266c97;
    font-family: "Houschka Pro Medium";
    font-size: 14px;
}
#adress{
    width: 240px;
    height: 37px;
    box-shadow: 0 1px 0 #ffffff, inset 0 2px 5px rgba(29, 26, 22, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 13px 99px 10px 12px;
    box-sizing: border-box;
    border: none;
    margin: 2px 11px 546px 319px ;
    color: #808080;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    outline: none;
    border-radius: 5px;
}
#click{
    position: relative;
    width: 90px;
    height: 36px;
    border: 1px solid #e68e16;
    outline: none;
    background-color: #fab937;
    background-image: linear-gradient(top rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0.3) 100%);
    font-size: 13.5px;
    box-sizing: border-box;
    text-shadow: 0 1px 1px rgba(29, 26, 22, 0.2);
    color: #ffffff;
    border-radius: 3px;
    left: -3.8px;
    font-family: "Houschka Pro Bold";
}
button:active {
    box-shadow: 5px 3px 10px 2px lightsteelblue;
}
.water1{
    width: auto;
    height: 6px;
    position: relative;
    background-color: #ddecfa;
    margin: -335px auto;
}
.water2{
    position: relative;
    width: auto;
    height: 9px;
    background-color: #327dad;
    margin: 333px auto;
}
.ship{
    position: absolute;
    background-color: none;
    margin: -15px auto;
    left: 301px;
}
.water3{
    width: auto;
    height: 343px;
    position: relative;
    background-color: #266c97;
    opacity: 100%;
    margin: -322px auto;
    top: -11px;
}
.ice{
    position: absolute;
    margin: -231px auto;
    left: 327px;
}
.block{
    position: absolute;
    margin: 20px auto;
    left: 326px;
}
.round{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #b9d6ef;
    margin-left: 36.5px;
    left: -18px;
    text-align: center;
    padding-top: 22px;
    color: #266b97;
    font-family: "Houschka Pro Medium";
    font-size: 24px;
}
#hours{
    left: -15px;
}
p{
    position: relative;
    top: 2px;
    font-family: "Houschka Pro Bold";
    color: #f3f3f3;
}
#clock{
    left: -9px;
}
.ship{
  -webkit-animation: ship 0.8s linear alternate-reverse infinite;
  animation: ship 0.8s linear alternate-reverse infinite;
}
