body {
	background-color: black;
}
.info{
	position: fixed;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	padding: 43px;
	border: 1px solid lightcyan;
	background-color: lightcyan;
	height: 100px;
	min-width: 30%;
	box-sizing: border-box;
}
.main{
	background-color: ghostwhite;
	border: 2px solid ghostwhite;
	float: right;
	margin: 30px;
	width: 89vmin;
	box-sizing: border-box;
}