body{
    background-color: rgba(112, 93, 93, 0.37);
}
.text{
    text-align: center;
    font-size: 50px;
    color: rgb(66, 14, 14);
}
.main{
    border: none;
    margin: 200px;
}
.m{
    border: 10px solid white;
    border-radius: 15%;
    width: 125px;
    height: 175px;
    display: inline-block;
    position: relative;
    margin-left: -50px;
    background-image: linear-gradient(120deg, red, red 17%, white 17%, white 22.6%, red 22.6%, red 39.6%, white 39.6%, white 45.2%, red 45.2%, red 62.2%, white 62.2%, white 67.8%, red 67.8%, red 84.8%, white 84.8%, white 90.4%, red 90.4%, red 100%);
}
.card{ 
    display: block;
    position: relative;
    left: -12px;
    top: -10px;
    padding: -200px;   
    width: 125px;
    height: 175px;
    border: 10px solid white;
    border-radius: 15%;
    background-color: white;
    font-size: 27px;
    color: darkred;
    text-align: center;
    opacity: 0;
}
#frst{
    width: 5px;
    height: 85px;
    font-size: 25px;
    color: red;
}
#scnd{
    width: 15px;
    height: 45px;
    font-size: 25px;
    color: red;
    float: right;
    transform: rotateX(180deg);
}
p{
    margin-top: -10px;
}
.m:hover{
    top: -50px;
    transition: 1s;
    transform: rotateY(360deg);
    z-index: 99;
}
.m:hover .card{
    opacity: 1;
    box-shadow: 25px 13px 5px 8px rgba(255, 0, 0, 0.384);
    transition: 1s;
    transform: rotateY(360deg);
    
    
}

