body{
    background-color: cornsilk;
}
#one{
    color: rgb(8, 37, 5);
}
.butt{
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    display: flex;
    height: 45px;
    width: 120px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #5fb679 0%, #249097 100%);
    border-radius: 5px;
    border: darkgreen;
    box-shadow: 15px 13px 8px -3px rgba(4, 22, 4, 0.829); 
    padding: 10px;
    outline: none;
}
button:active {
    background-image: linear-gradient(to right, #081191c4 0%, #3cf5e5 100%);
    transition: background 3s;
  }