.a{
    margin: 20px;
}
div.sp{
    border-top: none;
    border-bottom: none;
}
.d1{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    display: block;
}
.d2{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    display: block;    
}
.d3{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    display: block;
}
.m1{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    left:100%;
    top: -19px;
    display: none;
    text-decoration: underline;
    color: black;
}
.m2{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    left:100%;
    top: -19px;
    display: none;
    text-decoration: underline;
    color: black;
}
.m3{
    border: 0.5px solid gray;
    height: 36px;
    width: 80px;
    text-align: center;
    position: relative;
    left: 100%;
    top: -19px;
    display: none;
    text-decoration: underline;
    color: black;
}
.d1:hover .m1{
    display: block;
}
.d2:hover .m2{
    display: block;
}
.d3:hover .m3{
    display: block;
}