@font-face{
    src: url('../font/fontello.woff2');
    font-family: "fontello_1symb";
}
@keyframes fontello {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
body{
    background-color: aliceblue;
    width: auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2000px;
}
.text{
    width: 500px;
    height: 100px;
    border: 1px solid blue;
    color: darkgreen;
    font-size: 5.5rem;
    letter-spacing: 0.35em;
    margin-left: 220px;
}
.fontello{
    height: 90px;
    width: 90px;
    margin-top: -230px;
    margin-left: 170px;
    opacity: 0;
    animation: 2.7s linear 0s normal none infinite  fontello;
}
.fontello::after{
    font-family: "fontello_1symb";
    content: '\e832';
}
.act{
    display: flex;
    height: 100px;
    font-size: 5.5rem;
    letter-spacing: 0.35em;
    margin: 20px;
}
.inp1{
    width: 500px;
    height: 100px;
    margin-right: 30px;
}
.inp2{
    width: 400px;
    height: 100px;
    margin-top: 6px;
    user-select: none;
}
img{
    width: 100px;
    height: 100px;
    margin-left: -250px;
}
.inp2:focus + .fontello{
    opacity: 1;
}
.inp2:focus {
    pointer-events: none;
}


