.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  flex-direction: column;
}
.field{
  width: 90vw;
  height: 150px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parovoz{
  height: 100px;
  width: 120px;
}
.left{
  height: 50px;
  width: 150px;
  user-select: none;
  margin: 20px;
}
.right{
  height: 50px;
  width: 150px;
  user-select: none;
}
.parovoz-right{
  transform: scale(-1, 1);
}