body{
    background-color: whitesmoke;
}
#header{
    background-color: lightskyblue;
    height: 120px;
    width: auto;
    position: relative;
    
}
#footer{
    text-align: center;
    margin: 50px;
    font-size: 20px;
}
.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
}
.mainmenu{
    position: relative;
    display: grid;
    height: 70px;
    max-width: 35%;
    float: right;
    top: 87px;
    right: 20px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}
.listmenu{
    position: relative;
    top: 5px;
    left: -1px;
    height: 40px;
    display: none;
    text-align: center;
    padding-top: 15px;
    background-color: floralwhite;
}
.text{
    float:left;
    display: none;
}
.mainmenu:hover .listmenu{
    display: block;
}
.listmenu:hover > .text{
    display: block;
}