body{
    background-color: whitesmoke;
}
#header{
    background-color: lightskyblue;
    height: 120px;
    position: relative;
}
#footer{
    text-align: center;
    margin: 50px;
    font-size: 20px;
}
.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
}
.mainmenu{
    display: inline-block;
    position: relative;
    height: 50px;
    float: right;
    width: auto;
    top: 97px;
    right: 25px;
    font-size: 14px;
    text-align: center;
}
.listmenu{
    position: relative;
    top: 6px;
    left: -1px;
    height: 40px;
    opacity: 0;
    padding-top: 15px;
    background-color: floralwhite;
    border: 0.5px solid lightskyblue;
}
.text{
    float:left;
    opacity: 0;
}
.mainmenu:hover .listmenu{
    opacity: 1;
}
.listmenu:hover > .text{
    opacity: 1;
}