@font-face{
    src: url('../fonts/fontello/font/fontello.woff2');
    font-family: "fontello_2symb";
}
@font-face{
    src: url(../fonts/font/GraphikLCG-Light.woff2);
    font-family: "Graphik LCG";
}
@font-face{
    src: url(../fonts/font/GraphikLCG-Black.woff2);
    font-family: "Graphik LCG BOLD";
}
html{
    background-color:#E5E5E5;;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1920px;
    height: 6325px;
    margin: auto;
}
.header{
    display: flex;
    flex-direction: column;
    height: 839px;
    background-color: #1B1B1B;
    color: #F2F2F2;
    font-family: "Graphik LCG";
    font-size: 18px;
}
.logo{
    margin-left: 407.92px;
    margin-top: 282px;
}
.text{
    width: 467px;
    height: 127px;
    margin: 43.11px 0 0 408px;
}
#text1{
    margin-top: 68.21px;
    font-size: 14px;
}
#text1::before{
    font-family: "fontello_2symb";
    content:  '\e800';
    padding-right: 17px;
}
.main{
    display: flex;
    flex-direction: column;
    height: 3213px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Graphik LCG";
}
.frst{
    margin: 84px 0 0 405px;
    height: fit-content;
}
.titlemain{
    font-family: "Graphik LCG BOLD";
    font-size: 45px;
}
.textmain{
    margin-top: 15px;
    font-size: 18px;
    width: 780px;
}
#line1{
    width: 1110px;
    height: 0px;
    margin: 75px 0 75px 0;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}
.scnd{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 56px 408px 0 0;
    text-align: end;
}
.elips{
    margin-top: -270px;
}
.elelips{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -1080px 0 0 402px;
}
.el1{
    margin: 45.25px 0 45.25px -402px;
}
.el2{
    margin-left: -289px;
}
#el22{
    margin-left: 50px;
}
.line2{
    align-self: flex-end;
    width: 44px;
    height: 5px;
    background-color: #FD3300;
}
.text2{
    margin-bottom: 70px;
}
.text3{
    display: flex;
    flex-direction: column;
    margin: 50px 0 69px 402px;
}
.text31{
    display: flex;
    align-items: baseline;
    margin: auto;
}
#img2{
    display: flex;
    align-items: flex-end;
}
.img1{
    position: absolute;
    left: 809px;
    top: 183px;
}
.img3{
    text-align: center;
    margin: 40px -70px 0 -330px;
}
.main1{
    display: flex;
    flex-direction: column;
    height: 907px;
    background-color: #1B1B1B;
    color: #F2F2F2;
}
.textmain1{
    margin: 69px 446px 0 402px;
}
.darr1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -250px;
}
.darr{
    height: 15px;
}
.info{
    margin: -50px -250px 270px -100px ;
}
.text4{
    color: #FD351E;
    margin-bottom: -15px;
}
.main2{
    display: flex;
    height: 735px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.img4{
    display: flex;
    margin: 50px 0 0 0 ;
}
.phone{
    position: absolute;
    left: 956px;
    top: 4553px;
}
.footer{
    display: flex;
    height: 631px;
    background-color: #1B1B1B;;
}